

:host{
    position:relative;
    display:flex;
    flex-direction: column;
    width:100%;
    margin-right:0px;
    padding: 0px 0px 0px 0px;  
    /*border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;*/
    border-radius: 3px;
    /*background-color:white; */
    font-size:15px;
}

:host.selected{
    border-left: 1px solid var(--second-color); 
    border-top: 1px solid var(--second-color); 
    border-bottom: 1px solid var(--second-color); 
    border-right:1px solid var(--second-color); 
    margin-left:-1px;
    margin-top:-1px;
    margin-bottom:-1px;
}

div.treeItemHeading
{
    cursor: pointer;
    position: relative;
    min-height:30px;
    width:100%;
    display:flex;
    flex-direction: row;
}
div.treeItemHeading.hidden
{
    display: none;
}
div.treeItemHeading.highlighted .treeItemTitleLabel
{
    color:var(--first-color);
    border-left:5px solid var(--first-color);
    padding-left:5px;
}

div.treeItemExpand{
    /*background-image:url('src/assets/img/leafConcept.gif');*/
    background-position-x: -1px;
    background-position-y: 0px;
    background-repeat: no-repeat;
    flex-basis:30px;
    position:relative;
    z-index:10;
    flex-shrink:0;
}

div.treeItemExpand.expanded{
    background-image:url('src/assets/img/minusConcept.gif');
}

div.treeItemExpand.collapsed{
    background-image:url('src/assets/img/plusConcept.gif');
}

div.treeItemTitle{
    padding-top:7px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}
div.treeItemTitleLabel {
    display: inline-flex;
    word-break: break-word;
    font-size:15px;
}
div.treeItemTitle.removed div.treeItemTitleLabel {
    text-decoration: line-through;
}

div.treeItemTitle:focus {
    outline: 0;
}
.icon {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left:5px;
}
.chip {
	background-color:var(--first-color);
	font-size:10px;
	font-family:"arial";
	font-weight:bold;
	padding:3px 5px 3px 5px;
	border-radius: 3px;
    margin-bottom:2px;
    margin-top:1px;
    position: relative;
    color:#333;
    height:20px;
    display: inline-flex;
    vertical-align: middle;
    border:1px solid white;
}
.imgIcon {
    display: inline-flex;
    vertical-align: middle;
	margin-left:5px;
}
.imgIcon mat-icon {
    transform: scale(0.75);
    position: relative;
    top:-4px;
}
.smallImgIcon {
    height:10px;
}
.smallImgIcon mat-icon {
    transform: scale(0.4);
    position: relative;
    top:-7px;
    left:-5px;
    margin-right:-14px;
}
.icon .counter {
    font-size: 10px;
}
.iconDot {
    height:12px;
    padding:0px 3px 0px 3px ;
    border-radius:6px;
    text-align: center;
    border:1px solid white;
    box-sizing: content-box;
}
.draft{
	background-color:#FFEB0F;
}
.obsolete{
    background-color:#FFBFBF;
}
.new{
	background-color:#71E161;
}
.treeItemTitle.isModifier
{
    font-style:italic;
    color: green;
}

.treeItemInformation{
    background-color:#FFFBD5;
    color:#333;
    width:calc(100% - 35px);
    display: flex;
    flex-direction: column;
    position: relative;
    left:30px;
    padding:5px;
    border-radius: 3px;
    margin-bottom:5px;
    box-shadow: 10px 10px 6px -6px #777;
    border:1px solid #DDD;
}
app-concept-information {
    border-color:#FFFBD5;
}

.hoveredInformationDiv{
    position:absolute;
    z-index:21;
    overflow-y:auto;
    pointer-events:none;
}
.hoveredInformationDiv table {
    table-layout: auto !important;
} 
.hoveredInformationDiv td, .hoveredInformationDiv th {
    width: auto !important;
}