<div class="additionalDetails" id="detailed_information_additional">
  <h3>{{label}}</h3>
  <p *ngIf="!validIri">The concept is not part of the ontology.</p>
  <ng-container *ngFor="let detail of additionalDetails">
    <app-section 
      [title]="detail.name + (detail.key==lastchangesdateIri?' ('+(detail.values[0].display_string | date:'dd.MM.yyyy')+')':'')" 
      *ngIf="detail.values.length > 0"
      [foldable]="detail.key == lastchangesdateIri"
      [expanded]="detail.key != lastchangesdateIri"
      [shrinking]="false"
      (open)="onSectionExpand(detail.key)">
      <div class='detailContent' [ngSwitch]="detail.key">
        <div *ngSwitchCase="lastchangesdateIri">
            <ng-container *ngFor="let conceptInformation of changeDetails$ | async">
                <app-concept-information 
                  [conceptInformation]="conceptInformation" 
                  [hiddenHeading]="false"></app-concept-information>
            </ng-container>
        </div>
        <!--<div *ngSwitchCase="'loincTable'">
          <table>
              <tr *ngFor="let row of detail.values">
                <td *ngFor="let cell of row">{{cell}}</td>
              </tr>                
          </table>
        </div>-->
        <div *ngSwitchDefault>
            <div *ngFor="let value of detail.values" class="valueListing">
              <ng-container *ngIf="value.iri && isTreeConcept(value.iri) | async">
                <div (click)="navigateToConcept(value.iri)" class="iriLink">
                  <mat-icon aria-hidden="false" aria-label="Home" svgIcon="keyboard_arrow_right"></mat-icon>
                  <ng-container *ngIf="value.display_string_lang">
                    {{value.display_string_lang}}: 
                  </ng-container>
                  <span>{{value.display_string}}</span>
                </div>
              </ng-container>
              <ng-container *ngIf="!value.iri || !(isTreeConcept(value.iri) | async)">
                <ng-container *ngIf="value.display_string_lang">
                  {{value.display_string_lang}}: 
                </ng-container>
                <span>{{value.display_string}}</span>
              </ng-container> 
            </div>
        </div>
      </div>
    </app-section>
  </ng-container>
  <app-section 
    *ngIf="validIri"
    title="Export"
    [foldable]="true"
    [expanded]="false">
      <div style="display: inline-block;margin-right:40px;">
        <div style="margin-bottom:10px">
          <input type="checkbox" [checked]="exportOptions.intent" id="cb_export_intent" (click)="exportOptionToggle($event,'intent')"/>
          <label for="cb_export_intent">Intent labels for hierarchy indication</label>
        </div>
        <div>
          <input type="checkbox" [checked]="exportOptions.status" id="cb_export_status" (click)="exportOptionToggle($event,'status')"/>
          <label for="cb_export_status">Export status</label>
        </div>
        <div>
          <input type="checkbox" [checked]="exportOptions.codes" id="cb_export_codes" (click)="exportOptionToggle($event,'codes')"/>
          <label for="cb_export_codes">Export codes</label>
        </div>
        <div>
          <input type="checkbox" [checked]="exportOptions.units" id="cb_export_units" (click)="exportOptionToggle($event,'units')"/>
          <label for="cb_export_units">Export units</label>
        </div>
        <div style="margin-bottom:10px">
          <input type="checkbox" [checked]="exportOptions.isModifier" id="cb_export_isModifier" (click)="exportOptionToggle($event,'isModifier')"/>
          <label for="cb_export_isModifier">Export modifier (true/false)</label>
        </div>
        <div>
          <input type="checkbox" [checked]="exportOptions.additionalInformation" id="cb_export_additionalInformation" (click)="exportOptionToggle($event,'additionalInformation')"/>
          <label for="cb_export_additionalInformation">Export additional information (Search, Configuration)</label>
        </div>
        <div style="margin-bottom:10px">
          <input type="checkbox" [checked]="exportOptions.additionalInformationOnly" id="cb_export_additionalInformationOnly" (click)="exportOptionToggle($event,'additionalInformationOnly')"/>
          <label for="cb_export_additionalInformationOnly">Export only items with additional information</label>
        </div>
      </div>
      <input type="button" class="exportButton" (click)="export()" value="Export Subtree"/>
  </app-section>
</div>
<div class="coreDetails" id="detailed_information_core">
  <div *ngFor="let detail of coreDetails">
    <div class="detail">
      <div [ngClass]="{'detailHeading':true, 'unfilled':detail.values.length == 0}">
        {{detail.name}}
      </div>
      <div class='detailContent'>
        <div *ngFor="let value of detail.values" class="valueListing">
          <ng-container *ngIf="value.iri && isTreeConcept(value.iri) | async">
            <div (click)="navigateToConcept(value.iri)" class="iriLink">
              <mat-icon aria-hidden="false" aria-label="Home" svgIcon="keyboard_arrow_right"></mat-icon>
              <ng-container *ngIf="value.display_string_lang">
                {{value.display_string_lang}}: 
              </ng-container>
              <span>{{value.display_string}}</span>
            </div>
          </ng-container>
          <ng-container *ngIf="!value.iri || !(isTreeConcept(value.iri) | async)">
            <ng-container *ngIf="value.display_string_lang">
              {{value.display_string_lang}}: 
            </ng-container>
            <span>{{value.display_string}}</span>
          </ng-container> 
          <div *ngIf="detail.copy" (click)="copyToClipboard(value.display_string)" class="copy"></div>
        </div>    
      </div>
    </div>
  </div>  
</div>