:host{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    margin:10px;
}
form {
    display:flex;
    flex-direction: row;
    flex-shrink: 0;
}
form input:first-child{
    flex-grow:1;
}
div#tree {
    display:flex;
    flex-grow:1;
    overflow:auto;
}