version: "3"

volumes:
  repository:
  auth:
  letsencrypt:
  provenance:

services:
  proxy:
    container_name:
      cometar.proxy
    image: ${IMAGE_NAMESPACE}/cometar/cometar-proxy:${COMETAR_VERSION}
    # build:
    #   context: ./proxy
    #   dockerfile: Dockerfile
    ports:
      - 80:80
      - 443:443
    env_file:
      - .env
    volumes:
      - auth:/etc/nginx/auth
      - letsencrypt:/etc/letsencrypt
    depends_on:
      - "web"
  web:
    container_name:
      cometar.web
    image: ${IMAGE_NAMESPACE}/cometar/cometar-web:${COMETAR_VERSION}
    # build:
    #   context: ./web
    #   dockerfile: Dockerfile
    env_file:
      - .env
    depends_on:
      - "rest"
      - "git"
  git:
    container_name:
      cometar.git
    image: ${IMAGE_NAMESPACE}/cometar/cometar-git:${COMETAR_VERSION}
    # build:
    #   context: ./git
    #   dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - repository:/git
      - auth:/etc/nginx/auth
    depends_on:
      - "rest"
  rest:
    container_name:
      cometar.rest
    image: ${IMAGE_NAMESPACE}/cometar/cometar-rest:${COMETAR_VERSION}
    # build:
    #   context: ./rest
    #   dockerfile: Dockerfile
    volumes:
      - repository:/update-hook-repository:ro
      - provenance:/var/lib/cometar/provenance
    depends_on:
      - "fuseki"
  fuseki:
    container_name:
      cometar.fuseki
    # image: ${IMAGE_NAMESPACE}/cometar/cometar-fuseki:${COMETAR_VERSION}
    image: ${IMAGE_NAMESPACE}/cometar/cometar-fuseki_ui:${COMETAR_VERSION}
    # build:
    #   context: ./fuseki
    #   dockerfile: Dockerfile
