:host{
    border-radius:5px;
    margin-left:10px;
    min-width:10px;
    min-height:20px;
    position: relative;
}
p {    
    /*overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;*/
    margin:15px;
    display:none;
}
:host:hover p{
    display: block;
}
:host:hover{    
    z-index:10;
}

.commitDetails{
    background-color:#EEE;
    /*display:none;*/
    position: absolute;
    box-shadow: 10px 10px 6px -6px #777;
    transition: min-width 0.2s, height 0.2s;
    width:10px;
    min-width:10px;
    height:0px;
    padding-top:20px;
    border-radius: 3px;
}
.commitDetails div {
    width:calc(100% - 10px);
    height:calc(100% - 10px);
    overflow:hidden;
    margin:5px;
}
:host:hover .commitDetails{
    display: block;
    overflow:auto;
    min-width: 400px;
    height:200px;
    margin-top:-2px;
    margin-left:-2px;
}
:host:hover .commitDetails div{
    overflow:auto;
}

.categorycontainer{
    cursor:pointer;
    display:flex;
    flex-direction: row;
    border-radius: 3px;
    box-shadow: 4px 4px 2px -2px #777;
}
.category{
    position: relative;
    height:20px;
}
.category:first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.category:last-child{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.category.structure{
    background-color:rgb(49, 165, 214);
}
.category.progress{
    background-color:rgb(77, 173, 214);;
}
.category.literal{
    background-color:rgb(115, 182, 211);
}
.category.semantic{
    background-color:rgb(154, 197, 216);
}