<!-- <div *ngIf="commitDetails.length > 0" (click)="onClick()"> -->
<div class='commitDetails'>
    <div>
        <p>Author:<br>{{commitMetaData.author.value}}</p>
        <p>Message:<br>{{commitMetaData.message.value}}</p>
        <p>Commit-ID:<br>{{commitMetaData.commitid.value}}</p>
    </div>
</div>
<div (click)="onClick()" class='categorycontainer'>
    <div *ngFor="let category of categories | keyvalue" 
        [ngClass]="['category',category.key]" 
        [style.width.px]="category.value*10">
    </div>
</div>
<!--<app-commit-details [commitid]="commitMetaData.commitid.value"></app-commit-details>-->