:host {    
    width:100%;
    display: flex;
}
.container {
    margin-bottom:10px;
    display:flex;
    flex-direction: row;
    align-items: stretch;
    width:100%;
}
.modal-category {
    width:50px;
    background-color:var(--first-color);
    display:flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.modal-category mat-icon {
    width:50px;
    position:absolute;
    height:calc(100% - 20px);
}
.modal-content {   
    height:100%;
    flex-direction: column;
    display:flex;
}
.modal-content.solid{    
    background-color: #EEE;
}
.modal-content.shadow{
    box-shadow: 0 0 10px #777;
}
.modal-header {
    font-size:20px;
    flex-shrink: 0;
}
.modal-header.foldable{
    cursor:pointer;
}
.modal-body {
    overflow:auto;
    width:100%;
    flex-grow: 1;
}