<div id="logos">
    <div class='logo' (click)="navigateModule()">
        <img 
            id="loading" 
            src="assets/img/cometar_c_small.png"
            [matTooltip]="(loadingStatus$ | async)?tooltip:'CoMetaR - a Collaborative Metadata Repository'"
            [ngClass]="{'active':(loadingStatus$ | async)}" 
            (click)="navigateModule()"/>
        <img src="{{getConfig().logos.src_cometar_small}}"/>
    </div>
    <div class='logo' (click)="navigateModule(getConfig().logos.href_brand)"><img src="{{getConfig().logos.src_brand_small}}"/></div>
</div>