*
{
	border-color: #0492D0 !important;
}

body, .treeItem
{
	color: #0A3769;
}

.ui-resizable-handle.ui-resizable-e
{
	background-color:#F0F0F0;
}

.treeItem.currentDetailsSource:hover, .treeItem.currentDetailsSource, .treeMenuItem, .modulesMenuItem, .discussionPostsContainerDiv, .addDiscussionPostDiv, .discussionPostsContainerDiv .firstPost
{
	background-color:#BFE3F2;
}

.modulesMenuItem:hover, .treeMenuItem:hover, .addDiscussionPostDiv.collapsed:hover, .discussionPostDiv > .addDiscussionPostDiv.collapsed:hover, input[type='button']:hover, input[type='submit']:hover
{
	background-color: #F0F0F0;
}

.treeItem:hover > .treeItemTitleDiv, .headPathDiv
{
	color: #0492D0;
}

.discussionPostsContainerDiv .addDiscussionPostDiv, .discussionPostDiv.collapsed, .discussionPostDiv > .discussionPostDiv, input[type='button'], input[type='submit']
{
	background-color:#FFF;
}

input[type='file'], input[type='button']
{
	height:30px;
}

.activeMenuItemDiv
{
	background-color:#FFF !important;
}

.treeItem, .treeItem:last-child, #searchResultDiv > div
{
	border-top-width:0px;
	border-bottom-width:0px;
}
.treeItem:last-child
{
	border-left-width:0px;
}
#conceptTree > div.treeItem
{
	border-top-width:1px;
}
.ui-resizable-handle.ui-resizable-e
{
	background-image:none;
	width:5px;
	right:-15px;
}

.treeItem.mappedInConfig, .treeItem.fieldToMark
{
	/*-webkit-filter:hue-rotate(270deg);
	filter:hue-rotate(270deg);*/
	background-color:#d8ffce;
}

.treeItem.mappedInConfigPathPart, .treeItem.fieldToMarkPath
{
	/*background-color:#FFFFBF;*/
	background-color:#FFFBD5;
}