<div id="noResults" *ngIf="(treeItems$ | async) && (treeItems$ | async).length == 0 && conceptIri == 'root'">No Results.</div>
<!--
    @openClose
    (@openClose.done)="openCloseDone($event)"
-->
    <app-tree-item 
        animating
        @openClose
        (@openClose.done)="openCloseDone($event)"
        *ngFor="let treeitem of (treeItems$ | async); let i = index" 
        [treeItemAttributes]="treeitem" 
        [expanded]="expanded"
        [cascade_expand]="cascade_expand"
        [parent]="conceptIri"
        [style$]="treeStyleService.getTreeItemStyle$(treeitem.element.value)"
        [ngClass]="{'selected':isSelected$(treeitem) | async, 'topLevel':conceptIri == 'root'}">
    </app-tree-item>