<form>
  <input type="radio" id="whichStatisticsCounts" name="whichStatistics" value="counts" [checked]="whichStatistics=='counts'" (click)="whichStatistics='counts'">
  <label for="whichStatisticsCounts">Counts</label>
  <input type="radio" id="whichStatisticsBreakdowns" name="whichStatistics" value="counts" [checked]="whichStatistics=='breakdowns'" (click)="whichStatistics='breakdowns'">
  <label for="whichStatisticsBreakdowns">Phenotypes</label>
  <div *ngIf="whichStatistics=='counts'">
    <input type="radio" id="granularityTotal" name="granularity" value="total" [checked]="granularity=='total'" (click)="selectGranularity('total')"> 
    <label for="granularityTotal">Total</label> 
    <input type="radio" id="granularitySite" name="granularity" value="site" [checked]="granularity=='site'" (click)="selectGranularity('site')"> 
    <label for="granularitySite">Site</label> 
    <input type="radio" id="granularitySource" name="granularity" value="source" [checked]="granularity=='source'" (click)="selectGranularity('source')"> 
    <label for="granularitySource">Source</label> 
    <input type="radio" id="granularityLocation" name="granularity" value="location" [checked]="granularity=='location'" (click)="selectGranularity('location')"> 
    <label for="granularityLocation">Location</label> 
    <div *ngIf="granularity=='source'||granularity=='location'">
      <input type="radio" id="selectedSiteAll" name="selectedSite" value="all" [checked]="selectedSite=='all'" (click)="selectSite('all')"> 
      <label for="selectedSiteAll">All</label> 
      <ng-container *ngFor="let group of dataService.qpfddSites">
        <input type="radio" [id]="'selectedSite'+group" name="selectedSite" [value]="group" [checked]="selectedSite==group" (click)="selectSite(group)"> 
        <label [for]="'selectedSite'+group">{{group}}</label> 
      </ng-container>    
    </div>
  </div>
</form>

<div [ngStyle]="{'display':whichStatistics=='counts'?'block':'none'}">
  <h2>I2b2 Usage</h2>
  <app-line-chart [chartData]="i2b2usageData" [XaxeDateFormat]="'DD.MM.YYYY'" [legend]="true"></app-line-chart>
  <h2>Total Patient Count</h2>
  <app-line-chart  [chartData$]="totalPatientCountData$"></app-line-chart>
  <h2>Distinct Facts</h2>
  <app-line-chart  [chartData$]="distinctFactsCountData$"></app-line-chart>
  <h2>Total Facts</h2>
  <app-line-chart  [chartData$]="totalFactsCountData$"></app-line-chart>
</div>

<div [ngStyle]="{'display':whichStatistics=='breakdowns'?'block':'none'}">
  <h2>Patients With Multiple Phenotypes</h2>
  <app-bubble-chart [chartData]="multiPhenotypeData" [phenotypes]="dataService.phenotypes"></app-bubble-chart>
  <h2>Phenotype Breakdown</h2>
  <app-breakdown-pie [chartData]="phenotypeBreakdownData" [sites]="dataService.qpfddSites"></app-breakdown-pie>
  <h2>Specimen Breakdown</h2>
  <app-breakdown-pie [chartData]="specimenBreakdownData" [sites]="dataService.qpfddSites"></app-breakdown-pie>
</div>