<ng-container *ngIf="collapsed">
    <div class="expandDiv" (click)="collapsed = !collapsed">Show Provenance Details</div>
</ng-container>
<ng-container *ngIf="!collapsed">
    <table [ngClass]="{
        'rowHeadingTable':headingDirection == 'row', 
        'columnHeadingTable':headingDirection == 'column',
        'hiddenHeading':hiddenHeading
    }">
        <tr *ngIf="conceptInformation">
            <td *ngFor="let cell of conceptInformation.headings; let i = index" [width]="cellWidthPercentages[i]+'%'">
                {{cell}}
            </td>
        </tr>
        <tr *ngFor="let row of data; let isFirst = first">
            <!-- <ng-container *ngIf="isFirst; else noheading">
                <th *ngFor="let cell of row; let i = index" [width]="cellWidthPercentages[i]+'%'">{{cell}}</th>
            </ng-container>               
            <ng-template #noheading>
            </ng-template>-->
            <td *ngFor="let cell of row; let i = index" [width]="cellWidthPercentages[i]+'%'">
                <ng-container *ngFor="let match of matchArray(cell)">
                    <span *ngIf="isConceptIri(match)" (click)="navigateToConcept(cell)" class="conceptLink">{{match}}</span>
                    <span *ngIf="!isConceptIri(match)"
                        [ngClass]="{'highlightText':highlightTerm != undefined && match.toUpperCase()==highlightTerm.toUpperCase()}"
                    >{{match}}</span>
                </ng-container>
            </td>
        </tr>
    </table>
</ng-container>