<ng-container *ngIf="collapsed">
    <div class="expandDiv" (click)="collapsed = !collapsed">Show Provenance Details</div>
</ng-container>
<ng-container *ngIf="!collapsed">
    <table class="conceptInformationTable" #conceptInformationTable
        (mouseenter)="onInformationMouseEnter($event)"
        (resized)="onResized($event)"
        #table
        [ngClass]="{
            'rowHeadingTable':headingDirection == 'row', 
            'columnHeadingTable':headingDirection == 'column',
            'hiddenHeading':hiddenHeading,
            'truncateText':truncateText == true && maxWidth != undefined,
            'stayTruncated':stayTruncated
        }">
        <tr *ngIf="conceptInformation">
            <td *ngFor="let cell of conceptInformation.headings; let i = index" [style.minWidth]="getMinWidth(i)" [style.width]="getWidth(i)" [style.display]="getDisplay(i)">
                {{cell}}
            </td>
        </tr>
        <tr *ngFor="let row of data; let isFirst = first">
            <td *ngFor="let cell of row; let i = index" [style.minWidth]="getMinWidth(i)" [style.width]="getWidth(i)" [style.display]="getDisplay(i)">
                <ng-container *ngFor="let match of matchArray(cell)">
                    <span *ngIf="isConceptIri(match)" (click)="navigateToConcept(cell)" class="conceptLink">{{match}}</span>
                    <span *ngIf="!isConceptIri(match)"
                        [ngClass]="{'highlightText':highlightTerm != undefined && match.toUpperCase()==highlightTerm.toUpperCase()}"
                    >{{match}}</span>
                </ng-container>
            </td>
        </tr>
    </table>
</ng-container>