

.breakdownSiteChart {
    position: relative;
    min-width:400px;
    min-height:400px;
    margin:50px;
    border-radius: 50%;
}

.breakdownChart {
    position: absolute;
    height:80%;
    width:80%;
    border-radius: 50%;
    top:0px;
    left:0px;
    margin-top:10%;
    margin-left:10%;
}
.row {
    display: flex;
    flex-direction: row;
    width:100%;
    min-width:600px;
    flex-shrink:0;
    justify-content: center;
    align-items: center;
    position: relative;
}
.col {
    flex-shrink:1;
    position: relative;
}
.col:first-child {    
    width:40%;
    padding-top:calc(40% - 40px);
}
.col:last-child {    
    width:60%;
    overflow:auto;
    max-height:400px;
}
.col.full {
    width:80%;
}
table th, table td {
    padding:10px;
    vertical-align: top;
}
table {
    width:100%;
}
td.hovered, tr.hovered td {
    background-color:#DDD;
}
.datatable {    
    height:400px;
    overflow-y:scroll;
}