## Must be ended with a new line "LF" (Unix) and not "CRLF" (Windows)
## MIN HOUR DOM MON DOW CMD
13 0 * * * /scripts/build-figures.sh >> /var/log/cron.log 2>&1
## An empty line is required at the end of this file for a valid cron file.
