<div (mouseout)="mouseOvered=false" 
    (mouseover)="mouseOvered=true">
    <div 
        [ngClass]="{
        'commitDetails':true,
        'demo':democommit!=undefined,
        'openUp':mouseOvered && getCommitDetailsVerticalDirection()=='up',
        'openLeft':mouseOvered && getCommitDetailsHorizontalDirection()=='left'
        }">
        <div>
            <p>Author:<br>{{commitMetaDataHR.author.value}}</p>
            <p>Message:<br>{{commitMetaDataHR.message.value}}</p>
            <p>Commit-ID:<br>{{commitMetaDataHR.commitid.value}}</p>
        </div>
    </div>
    <div (click)="onClick()" class='categorycontainer'>
        <div *ngFor="let category of categories | keyvalue" 
            [ngClass]="['category',category.key]" 
            [style.width.px]="category.value.count*5">
            <div class='deprecatedElements'
                [style.width.px]="category.value.deprecated*5">
            </div>
        </div>
    </div>
    <div class="label">{{label}}</div>
</div>