<div id="tree" (scroll)="onscroll($event)" #tree [style.width.px]="width-40">
    <app-tree-item-list 
        [conceptIri]="'root'" 
        class="topLevel" 
        [style.width.px]="width-76" 
        [animation]="getOfTrue()"></app-tree-item-list>
    <div id="scrollHeadings" [style.width.px]="width-76" #scrollHeadings>
        <div *ngFor="let scrollHeading of (treeStyleService.scrollHeadingsSubject$ | async); let i = index">
            <div [style.marginLeft.px]="21+i*21" [innerHTML]="scrollHeading | noSanitize"></div>
        </div>
    </div>
    <div 
        *ngFor="let outlineElement of (treeStyleService.outlineElements$ | async);" 
        class="treeOutlineElement"
        [style.top.px]="outlineElement.top*(tree.offsetHeight-4)+tree.offsetTop+2"
        [style.backgroundColor]="outlineElement.color"
        [style.borderColor]="outlineElement.bordercolor"
        [style.borderWidth.px]="outlineElement.bordercolor?(outlineElement.siblings > 1?1:2):0"
        [style.zIndex]="outlineElement.zindex"
        [style.opacity]="outlineElement.opacity?outlineElement.opacity:inherit"
        [style.width.px]="10/outlineElement.siblings"
        [style.height.px]="outlineElement.height?outlineElement.height*tree.offsetHeight-(outlineElement.bordercolor?0:0):31*tree.offsetHeight/tree.scrollHeight"
        [style.marginLeft.px]="outlineElement.position*10/outlineElement.siblings+width-70-(outlineElement.bordercolor?0:0)"
        [matTooltip]="outlineElement.description"
        (click)="scrollTo(outlineElement, scrollHeadings)"
        >
    </div>
</div>
<div id="runningTaskOverlay" 
    [ngClass]="{'visible':runningTask$|async}"
    [style.width.px]="tree.offsetWidth" 
    [style.height.px]="tree.offsetHeight">
</div>
<div id="runningTaskContent" 
    [ngClass]="{'visible':runningTask$|async}"
    [style.width.px]="tree.offsetWidth" 
    [style.height.px]="tree.offsetHeight">
    <div id="runningTaskContentCenter">
        <img 
            class="runningTaskLogo" 
            src="assets/img/cometar_c_small_transparent.png"/>
        <div class="runningTaskProgress">{{taskProgress+'%'}}</div>
    </div>
</div>