:host{
    display:flex;
    flex-direction: column;
    flex-grow:1;
}
form {
    display:flex;
    flex-direction: row;
    flex-shrink: 0;
    align-content: stretch;
    height:40px;
    margin:5px;
}
form input:first-child{
    flex-grow:1;
    width:40px;
    padding-left:15px;
    font-size:20px;
    background-color:white;
    color:#0492D0;
}
form input {
    border:1px solid #0492D0;
    width:70px;
    flex-shrink:1;
}
form input[type='submit'], form input[type='button'] {
    background-color:#0492D0;
    color:white;
    cursor:pointer;
    margin-left:1px;
}
form input[type='submit']:hover, form input[type='button']:hover {
    background-color:#BFE3F2;
    color:#0492D0;
}
div#tree {
    display:flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow:1;
    overflow:auto;
    position: relative !important; /*for inner element positioning*/
    margin-bottom:5px;
}
div#scrollHeadings{
    opacity: 0.9;
    position: fixed;
    z-index:20;
    padding-bottom:5px;
}
div#scrollHeadings > div > div {
    background-color:#0492D0;
    height:25px;
    padding-left:9px;
    padding-top:4px;
    border-bottom:1px solid white;
}