<div class="additionalDetails" id="detailed_information_additional">
  <div *ngFor="let detail of additionalDetails | keyvalue">
    <div class="detail" *ngIf="detail.value.values.length > 0">
      <div class='detailHeading'>
        {{detail.value.name}}
      </div>
      <div class='detailContent' [ngSwitch]="detail.key">
            <div *ngSwitchCase="'modifier'">
                <app-tree-item *ngFor="let iri of detail.value.values" [conceptIri]="iri" [expanded]="true"></app-tree-item>
            </div>
            <div *ngSwitchCase="'related'">
                <app-tree-item *ngFor="let iri of detail.value.values" [conceptIri]="iri" [expanded]="true"></app-tree-item>
            </div>
            <div *ngSwitchDefault>
                <div *ngFor="let value of detail.value.values" [innerHTML]="value"></div>
            </div>
      </div>
    </div>
  </div>
</div>
<div class="coreDetails" id="detailed_information_core">
  <div *ngFor="let detail of coreDetails | keyvalue">
    <div class="detail">
      <div [ngClass]="{'detailHeading':true, 'unfilled':detail.value.values.length == 0}">
        {{detail.value.name}}
      </div>
      <div class='detailContent'>
        <div *ngFor="let value of detail.value.values">
          {{value}}
          <div *ngIf="detail.value.copy" (click)="copyToClipboard(value)" class="copy"></div>
        </div>      
      </div>
    </div>
  </div>  
</div>