<div class="additionalDetails" id="detailed_information_additional">
  <h3>{{label}}</h3>
  <ng-container *ngFor="let detail of additionalDetails | keyvalue">
    <app-section 
      [title]="detail.value.name + (detail.key=='lastchangesdate'?' ('+(detail.value.values | date:'dd.MM.yyyy')+')':'')" 
      *ngIf="detail.value.values.length > 0"
      [foldable]="detail.key == 'lastchangesdate'"
      [expanded]="detail.key != 'lastchangesdate'"
      [shrinking]="false"
      (open)="onSectionExpand(detail.key)">
      <div class='detailContent' [ngSwitch]="detail.key">
        <div *ngSwitchCase="'modifier'">
          <!-- buggy interaction with loading screen / elements to show
            <app-tree-item *ngFor="let iri of detail.value.values" [conceptIri]="iri" [expanded]="true" [cascade_expand]="true"></app-tree-item>
          -->
          <ng-container *ngFor="let iri of detail.value.values">
            <app-text-with-navigation [data]="{navigationtype:'tree',navigationlink:iri}"></app-text-with-navigation><br/>
          </ng-container>
        </div>
        <div *ngSwitchCase="'lastchangesdate'">
            <ng-container *ngFor="let conceptInformation of changeDetails$ | async">
                <app-concept-information 
                  [conceptInformation]="conceptInformation" 
                  [hiddenHeading]="false"></app-concept-information>
            </ng-container>
        </div>
        <div *ngSwitchCase="'related'">
            <app-tree-item *ngFor="let iri of detail.value.values" [conceptIri]="iri" [expanded]="true"></app-tree-item>
        </div>
        <div *ngSwitchCase="'loincTable'">
          <table>
              <tr *ngFor="let row of detail.value.values">
                <td *ngFor="let cell of row">{{cell}}</td>
              </tr>                
          </table>
        </div>
        <div *ngSwitchDefault>
            <div *ngFor="let value of detail.value.values" [innerHTML]="value" class="valueListing"></div>
        </div>
      </div>
    </app-section>
  </ng-container>
  <app-section title="Actions">
      <input type="button" class="exportButton" (click)="export()" value="Export Subtree"/>
  </app-section>
</div>
<div class="coreDetails" id="detailed_information_core">
  <div *ngFor="let detail of coreDetails | keyvalue">
    <div class="detail">
      <div [ngClass]="{'detailHeading':true, 'unfilled':detail.value.values.length == 0}">
        {{detail.value.name}}
      </div>
      <div class='detailContent'>
        <div *ngFor="let value of detail.value.values">
          {{value}} 
          <div *ngIf="detail.value.copy" (click)="copyToClipboard(value)" class="copy"></div>
        </div>      
      </div>
    </div>
  </div>  
</div>