
<div id="menu">
    <div id="homebutton" 
        class="menuItem" 
        (click)="navigateModule('home')" >
        <mat-icon aria-hidden="false" aria-label="Home" svgIcon="home"></mat-icon>
    </div>
    <div id="toggleSearch" 
        [ngClass]="{'menuItem':true,'active': treeDataService.getSearchPattern()}" 
        (click)="searchDivOpened = !searchDivOpened; searchPatternInput.focus()">
        <mat-icon aria-hidden="false" aria-label="Search" svgIcon="search"></mat-icon>
    </div>
    <div id="helpbutton" [ngClass]="{'menuItem':true,'helpbutton':true,'active': helpDivOpened}" (click)="toggleHelp(helpDiv);">
        <mat-icon aria-hidden="false" aria-label="Help" svgIcon="help"></mat-icon>
    </div>
</div>
<div id="searchDiv" [ngClass]="{'open':searchDivOpened}">
    <form>
        <input type='text' [value]="treeDataService.getSearchPattern()" name="searchPatternInput" #searchPatternInput placeholder="search term"/> 
        <input type="submit" (click)='performSearch(searchPatternInput.value)' value="search"/>
        <input type="button" (click)='clearSearch()' [value]="'x '+(searchResultCount!=undefined&&searchPatternInput.value!=''?searchResultCount:'')"/>
    </form>
</div>
<div id="helpDiv" [ngClass]="{'open':helpDivOpened}" #helpDiv>
    <div id="opacityDiv"></div>
    <div id="helpContainerWrapper" (click)="toggleHelp(helpDiv)">
        <ng-container *ngIf="helpDivOpened">
            <div id="helpContainer" (click)="$event.stopPropagation()">
                <div class="helpMenu">
                    <div *ngFor="let section of helpVideosService.helpSections; let i = index">
                        <div class="helpMenuItem" (click)="sectionWrapper.scrollTop=sectionWrapper.children[i].offsetTop-sectionWrapper.offsetTop">{{section.heading}}</div>
                    </div>
                </div>
                <div class="sectionWrapper" #sectionWrapper>
                    <div *ngFor="let section of helpVideosService.helpSections; let i = index">
                        <h1>{{section.heading}}</h1>
                        <div class="section">
                            <div *ngFor="let video of section.videos" class="part">
                                <div class="text">
                                    <h5>{{video.heading}}</h5>
                                    <p>{{video.description}}</p>
                                </div>
                                <div class="videoContainer" style="height:294px">
                                    <video width="480" height="320" autoplay loop style="margin-top:-12px">
                                        <source src="{{video.url}}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <!--<div *ngFor="let helpItem of helpItems" 
        class="helpItem" 
        [style.left.px]="helpItem.left" 
        [style.top.px]="helpItem.top"
        [style.width.px]="helpItem.width"
        [style.right.px]="helpItem.right"
        [style.bottom.px]="helpItem.bottom"><h3>{{helpItem.heading}}</h3>
        <p *ngFor="let d of helpItem.description">{{d}}</p>
    </div>-->
</div>
<app-progressbar></app-progressbar>