
:host{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-content: stretch;
    background-color:white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width:calc(100% - 30px);
    margin-left:20px;
    position: relative;
    padding:5px;
}
div#menu{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top:5px;
    padding-bottom:5px;
}
div#searchDiv{
    height:0px;
    transition: height 0.4s;
}
div#searchDiv.open{
    height:40px;
}
div#helpDiv{
    height:0px;
    width:0px;
    overflow:hidden;
    position: fixed;;
    top:0px;
    z-index:1000;
    transition: height 0.4s, width 0.4s, left 0.4s, top 0.4s;
}
div#helpDiv div#opacityDiv{
    opacity:0.7;
    width:100%;
    height:100%;
    background-color:white;
}
div.helpItem{
    background-color:white;
    border:1px solid var(--dzl-blue);
    display:block;
    position:absolute;
    padding:10px;
}
div.menuItem{
    width:30px;
    height:30px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: flex;
    cursor:pointer;  
    position: relative;  
}
div#toggleSearch{ 
    background-image: url('src/assets/img/lupe_small.png');
}
div#homebutton{ 
    background-image: url('src/assets/img/home_small.png');
}
div#helpbutton{ 
    background-image: url('src/assets/img/help_small.png');
    z-index:1001;
}
div#searchDiv.open form{
    height:40px;
}
form {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    height:0px;
    overflow:hidden;
    transition: height 0.4s;
}
form input:first-child{
    flex-grow:1;
    width:40px;
    padding-left:15px;
    font-size:20px;
    background-color:white;
    color:#0492D0;
}
form input {
    border:1px solid #0492D0;
    width:70px;
    flex-shrink:1;
    border-radius: 3px;
}
form input[type='submit'], form input[type='button'] {
    background-color:#0492D0;
    color:white;
    cursor:pointer;
    margin-left:1px;
}
form input[type='submit']:hover, form input[type='button']:hover {
    background-color:#BFE3F2;
    color:#0492D0;
}