
:host{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-content: stretch;
    background-color:white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width:calc(100% - 30px);
    margin-left:20px;
    position: relative;
    padding:5px;
}
div#menu{
    display:flex;
    height:40px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    padding-top:5px;
    padding-left:10px;
    padding-right:10px;
}
div#searchDiv, div#historyDiv{
    height:0px;
    transition: height 0.4s;
    position: relative;
}
div#searchDiv.open, div#searchDiv.open form{
    height:40px;
    margin-top:5px;
    margin-bottom:5px;
}
div#historyDiv{
    overflow:hidden;
}
div#historyDiv.open, div#historyDiv.open form{
    height:60px;
    margin-top:5px;
    margin-bottom:5px;
}
div#helpDiv{
    height:0px;
    width:0px;
    overflow:hidden;
    position: fixed;;
    top:0px;
    z-index:1000;
    transition: height 0.4s, width 0.4s, left 0.4s, top 0.4s;
}
div#helpDiv div#opacityDiv{
    opacity:0.7;
    width:100%;
    height:100%;
    background-color:white;
}
app-progressbar {
    margin-top:5px;
}
div.helpItem{
    background-color:white;
    border:1px solid var(--dzl-blue);
    display:block;
    position:absolute;
    padding:10px;
}
div.helpItem:hover{
    z-index:10;
}
div.menuItem{
    width:calc(100% / 4);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: flex;
    padding:5px;
    cursor:pointer;  
    position: relative;  
    border:1px solid white;
}
div.menuItem.active {
    background-color:var(--soft-blue);
}
.mat-icon {
    height:100%;
    width:100%;
}
/*div#toggleSearch{ 
    background-image: url('src/assets/img/lupe_small.png');
}
div#toggleHistory{ 
    background-image: url('src/assets/img/history_small.png');
}
div#homebutton{ 
    background-image: url('src/assets/img/home_small.png');
}
div#helpbutton{ 
    background-image: url('src/assets/img/help_small.png');
    z-index:1001;
}*/
div#helpbutton{
    z-index:1001;
}

form {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    height:0px;
    overflow:hidden;
    transition: height 0.4s;
}
form input:first-child, mat-slider{
    flex-grow:1;
    width:40px;
    padding-left:15px;
    font-size:20px;
    background-color:white;
    color:#0492D0;
}
form input {    
    width:70px;
}