:host{
    display:flex;
    flex-grow:1;
    flex-direction: column;
    align-content: stretch;
}
.day{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-shrink:0;
    height:5px;
}
.day.filled {
    min-height:60px;
}
.date {
    display: none;
}
.day.filled .date {
    display: inline-block;
}