:host{
    display:flex;
    flex-grow:1;
    margin:10px;
    flex-direction: column;
    width:calc(100% - 20px);
}
.container {
    flex-direction: column;
    flex-grow:1;
    align-content: stretch;
    overflow:auto;
}
.day{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-shrink:0;
    height:5px;
}
.day.filled {
    min-height:60px;
}
.date {
    display: none;
    background-color: var(--dzl-blue);
    color:white;
    padding:5px;
    border-radius: 3px;
    cursor:pointer;
    box-shadow: 4px 4px 2px -2px #777;
}
.day.filled .date {
    display: inline-block;
}
.options {
    display:flex;
    flex-direction: row;
    flex-shrink: 0;
}
.category {
    display:flex;
    flex-direction: column;
    flex-grow:1;
    padding:10px;
    border-radius: 3px;
    margin:10px;
    min-width:150px;
}
.category_heading{
    border-bottom:1px solid var(--dzl-blue);
    margin-bottom:10px;
}
.category.structure{
    background-color:rgb(49, 165, 214);
}
.category.progress{
    background-color:rgb(77, 173, 214);;
}
.category.literal{
    background-color:rgb(115, 182, 211);
}
.category.semantic{
    background-color:rgb(154, 197, 216);
}