

:host{
    cursor: pointer;
    background-color:white;
    position:relative;
    display:flex;
    flex-direction: column;
    width:100%;
    margin-right:0px;
    padding: 0px 0px 0px 0px;   
}

:host.selected{
    background-color:#BFE3F2;    
}

div.treeItemHeading
{
    position: relative;
    min-height:25px;
    width:100%;
    display:flex;
    flex-direction: row;
}

div.treeItemExpand{
    background-image:url('src/assets/img/leafConcept.gif');
    background-position-x: -1px;
    background-position-y: center;
    background-repeat: no-repeat;
    flex-basis:30px;
    position:relative;
    z-index:10;
    flex-shrink:0;
}

div.treeItemExpand.expanded{
    background-image:url('src/assets/img/minusConcept.gif');
}

div.treeItemExpand.collapsed{
    background-image:url('src/assets/img/plusConcept.gif');
}

div.treeItemTitle{
    margin-top:4px;
}

div.treeItemTitle:focus {
    outline: 0;
}

table.searchResult {
    background-color:#EEE;
    margin-left:20px;
    align-self:flex-end;
}
table.searchResult tr.element {
    display:none;
}
table.searchResult tr td:first-child {
    font-weight: bold;
    width:100px;
    text-align: right;
    vertical-align: top;
}
table.searchResult td {
    padding: 5px;
}
.highlightText {
    font-weight: bold;
    text-decoration: underline;
}

.treeItemExpandLine {
    background-color: #0492D0;
    width:1px;
    position:absolute;  
    left:-0px;
    top:-12.5px;
}

:host:not(:last-child) > .treeItemExpandLine {
    height:100%;
}
:host:last-child > .treeItemExpandLine {
    height:25px;
}