
<div class='treeItemExpandLine'></div>
<div class="treeItemHeading">
  <div [ngClass]="getExpansionClass()" (click)="clickExpanded = !showItemList()"></div>
  <div class='treeItemTitle' (click)="onSelect(); clickExpanded = true">{{attributes.label.value}}</div>
</div>
<table class="searchResult" *ngIf="showSearchResult()" [ngStyle]="{'width':treeService.getInformationDivWidth()-20+'px'}">
  <tr *ngFor="let attribute of searchResultAttributes | keyvalue" [class]="attribute.key">
    <td>{{attribute.key}}</td>
    <td>
      <span 
        *ngFor="let match of searchMatchArray(searchResultAttributes[attribute.key].value)" 
        [ngClass]="{'highlightText':match.toUpperCase()==treeService.getSearchPattern().toUpperCase()}"
        >{{match}}</span>
    </td>
  </tr>
</table>
<app-tree-item-list *ngIf="showItemList()" [treeItems]="treeItems$ | async"></app-tree-item-list>

