<div class="logo"><img src="assets/img/CoMetaR_Logo.png"/></div>
<div class="heading">CoMetaR - a Collaborative Metadata Repository</div>
<div class="functions">
  <p>This platform provides:</p>
  <ul>
    <li>DZL Metadata Tree Vizualisation</li>
    <li>DZL Metadata Search Function</li>
    <li>Provenance Data Visualization</li>
    <li>Upload Client Configuration User Feedback</li>
  </ul>
  <p>For first steps:</p>
  <ul>
    <li>Explore items in the concept tree to the left.</li>
    <li>Click items to see more details about them.</li>
    <li>Click provenance menu tab to see more about latest changes to the DZL ontology.</li>
    <li>Click help button in the upper left corner to learn more about the CoMetaR Browser.</li>
  </ul>
</div>