:root {
    --main-border-color: #0492D0;
}

#conceptTree
{
    margin-top:10px;
    width:100%;
}

#conceptTree > .treeItemList
{

}

.treeItemList{
    flex-direction:column;
    display:flex;
    align-items:flex-end;
    align-self:flex-end;
    width:100%;
    position:relative;
}
.treeItemList .treeItemList{    
    width:calc(100% - 20px);
}
.treeItemList .treeItemList.fading{
    margin-left:20px;
    align-items:flex-start;
    align-self:flex-start;
} 

.treeItemList .treeItemList .treeItem {
    border-top-width:0px;
}

.treeItem{
    cursor: pointer;
    background-color:white;
    border-top:1px solid var(--main-border-color);
    position:relative;
    display:flex;
    flex-direction: column;
    width:100%;
    margin-right:0px;
    padding: 0px 0px 0px 0px;
}

.treeItem.selected{
    background-color:#BFE3F2;
}
.treeItem.isModifier
{
	font-style:italic;
	color:green;
}
.treeItem.hidden
{
    display:none;
}

/* 

tree lines 
-----------------------------------------------------------------------------

*/

.treeItemExpandLineDiv {
    background-color:var(--main-border-color);
    height:100%;
    width:1px;
    position:absolute;
}
.treeItem:not(:last-child) > .treeItemList > .treeItemExpandLineDiv {
    left:-21px;
    top:-12.5px;
}
.treeItem > .treeItemHeadingDiv > .treeItemExpandLineDiv {
    left:-1px;
    top:-12.5px;
}

.treeItemExpandDiv
{
    background-image:url('../images/leafConcept.gif');
    background-position-x: -2px;
    background-position-y: center;
    background-repeat: no-repeat;
    flex-basis:30px;
    position:relative;
    z-index:10;
}
.expanded > .treeItemHeadingDiv > .treeItemExpandDiv
{
	background-image:url('../images/minusConcept.gif');
}
.expanded.isCollection > .treeItemHeadingDiv > .treeItemExpandDiv
{
	background-image:url('../images/minusCollection.gif');
}
.collapsed > .treeItemHeadingDiv > .treeItemExpandDiv
{
	background-image:url('../images/plusConcept.gif');
}
.collapsed.isCollection > .treeItemHeadingDiv > .treeItemExpandDiv
{
	background-image:url('../images/plusCollection.gif');
}

/* 

heading
-----------------------------------------------------------------------------

*/

.treeItemHeadingDiv
{
    position: relative;
    min-height:25px;
    width:100%;
    display:flex;
    flex-direction: row;
    /*align-items: stretch;
    flex-basis:25px;*/
}

.treeItemTitleDiv{
    margin-top:4px;
    /*white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;*/
}
.treeItemStatusDiv, .treeItemExpandDiv
{
    flex-shrink:0;
}

.treeItemDescriptionDiv {

}


/* 

status
-----------------------------------------------------------------------------

*/

.treeItemStatusDiv
{    
	font-size:10px;
	font-family:"arial";
	font-weight:bold;
	padding:3px 5px 0px 5px;
	border-radius: 3px;
	margin-left:5px;
	margin-top:3px;
    color:#333;
    height:15px;
}
.treeItemStatusDiv.draft
{
	background-color:#FFEB0F;
}

.treeItemStatusDiv.obsolete
{
	background-color:#FFBFBF;
}

.treeItemStatusDiv.new
{
	background-color:#71E161;
}