:host {
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    padding:10px;
}
.selection {
    flex-shrink: 0;
}
table {
    flex: 0 0;
    width: 100%;
}
textarea, input[type='text'], input[type='file'], input[type='button'] {
    width:100%;
    height: 30px;
}
table td {
    vertical-align: top;
    padding: 10px;
}
table td:first-child {
    width:210px;
}
table td.clickable {
    cursor:pointer;
}
textarea {
    height:300px;
}
#feedback{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: auto;
}
#warning_text{
    color:rgba(161, 0, 0, 0.993);
}
#feedback table td:not(:last-child){
    border-right: 1px solid #DDD;
}