:host{
    padding:0px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width:100%;
    background-color:#0492D0;
}
div#browser{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width:100%;
}
div#treeResizeContainer{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-shrink:0;
    min-width:300px;
}
div#treeContainer {
    display:flex;
    flex-direction: column;
    width:calc(100% - 20px);
    background-color:var(--dzl-blue);
}
app-tree {
    margin-bottom:20px;
}
div#modules {
    flex-grow:1;
    display:flex;
    flex-direction: column;
    width:300px;
    align-content: stretch;
    position: relative;
}
div#moduleMenu {
    background-color:var(--dzl-blue);
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    border-bottom-left-radius: 5px;
    height:35px;
    padding:5px;
    justify-content: flex-end;
}
div#moduleContent {   
    flex-grow:1;
    display: flex; 
    flex-direction: row;
    align-items:stretch;
    overflow:auto;
    border-top-left-radius: 5px;
    border-width: 0px;
    background-color:white;
    position: relative;
}
div.moduleMenuItem {
    cursor: pointer;
    text-align: center;
    padding:5px 15px;
    border:0px solid #0492D0;
    color:white;
}
div.moduleMenuItem:not(:first-child){
    margin-left:1px;
}
div.moduleMenuItem.active{
    text-decoration: underline;
}
div.moduleMenuItem:hover{
    color:var(--soft-blue);
}
#treeResizeComponent {
    width:20px;
    height:100%;
    cursor: e-resize;
}