<table id="formular">
  <tr>
    <td>Endpoint</td>
    <td>{{getConfig().sparql.endpoint_base}}/cometar_live/query</td>
  </tr>
  <!-- <tr>
    <td>Prefixes</td>
    <td>
      <textarea id="prefixes">{{prefixes}}</textarea>
    </td>
  </tr> -->
  <tr>
    <td>Query<br><br>
      Example Queries:<br>
      <select id="select" [size]="queries.length"> 
        <option *ngFor="let query of queries" (click)="selectionChange(query[1])">{{query[0]}}</option>
      </select></td>
    <td>
      <textarea id="query" [(ngModel)]="queryText"></textarea>
    </td>
  </tr>
  <tr>
    <td>Results:
      <br><br>
      <input type="button" value="Send Query" (click)="getResults()"/>
      <br><br>
      <input type="button" value="Download Result" (click)="downloadResults()" *ngIf="results.length > 0"/>
    </td>
    <td>
      <div id="results">
        <div *ngIf="results.length == 0">No results.</div>
        <table *ngIf="results.length > 0">
          <tr>
            <th *ngFor="let heading of resultHeadings">{{heading}}</th>
          </tr>
          <tr *ngFor="let result of results">
            <td *ngFor="let item of result">{{item}}</td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
