

:host{
    cursor: pointer;
    position:relative;
    display:flex;
    flex-direction: column;
    width:100%;
    margin-right:0px;
    padding: 0px 0px 0px 0px;   
}

:host.selected{
    background-color:#BFE3F2;    
}

div.treeItemHeading
{
    position: relative;
    min-height:30px;
    width:100%;
    display:flex;
    flex-direction: row;
}

div.treeItemExpand{
    /*background-image:url('src/assets/img/leafConcept.gif');*/
    background-position-x: -1px;
    background-position-y: 0px;
    background-repeat: no-repeat;
    flex-basis:30px;
    position:relative;
    z-index:10;
    flex-shrink:0;
}

div.treeItemExpand.expanded{
    background-image:url('src/assets/img/minusConcept.gif');
}

div.treeItemExpand.collapsed{
    background-image:url('src/assets/img/plusConcept.gif');
}

div.treeItemTitle{
    padding-top:7px;
}

div.treeItemTitle:focus {
    outline: 0;
}
.treeItemHeading .draft, .treeItemHeading .obsolete, .treeItemHeading .new {
	background-color:#666666;
	font-size:10px;
	font-family:"arial";
	font-weight:bold;
	padding:3px 5px 3px 5px;
	border-radius: 3px;
	margin-left:5px;
	margin-top:5px;
    color:#333;
    height:10px;
}
.treeItemHeading .draft{
	background-color:#FFEB0F;
}
.treeItemHeading .obsolete{
	background-color:#FFBFBF;
}
.treeItemHeading .new{
	background-color:#71E161;
}
.treeItemTitle.isModifier
{
	font-style:italic;
	color:green;
}

.treeItemInformation{
    width:100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

table.searchResult {
    background-color:#EEE;
}
table.searchResult tr.element {
    display:none;
}
table.searchResult tr td:first-child {
    font-weight: bold;
    width:100px;
    text-align: right;
    vertical-align: top;
}
table.searchResult td {
    padding: 5px;
}
.highlightText {
    font-weight: bold;
    text-decoration: underline;
}
/*
.treeItemExpandLine {
    background-color: #0492D0;
    width:1px;
    position:absolute;  
    left:-0px;
    top:-15px;
}

:host:not(:last-child) > .treeItemExpandLine {
    height:100%;
}
:host:last-child > .treeItemExpandLine {
    height:30px;
}

:host > .treeItemInformation > .treeItemExpandLine.activated {
    left:21px;
    height:100%;
}*/