

:host{
    position:relative;
    display:flex;
    flex-direction: column;
    width:100%;
    margin-right:0px;
    padding: 0px 0px 0px 0px;  
    /*border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;*/
    border-radius: 3px;
    /*background-color:white; */
}

:host.selected{
    border-left: 1px solid #BFE3F2; 
    border-top: 1px solid #BFE3F2; 
    border-bottom: 1px solid #BFE3F2; 
    border-right:1px solid #BFE3F2; 
    margin-left:-1px;
    margin-top:-1px;
    margin-bottom:-1px;
}

div.treeItemHeading
{
    cursor: pointer;
    position: relative;
    min-height:30px;
    width:100%;
    display:flex;
    flex-direction: row;
}

div.treeItemExpand{
    /*background-image:url('src/assets/img/leafConcept.gif');*/
    background-position-x: -1px;
    background-position-y: 0px;
    background-repeat: no-repeat;
    flex-basis:30px;
    position:relative;
    z-index:10;
    flex-shrink:0;
}

div.treeItemExpand.expanded{
    background-image:url('src/assets/img/minusConcept.gif');
}

div.treeItemExpand.collapsed{
    background-image:url('src/assets/img/plusConcept.gif');
}

div.treeItemTitle{
    padding-top:7px;
}

div.treeItemTitle:focus {
    outline: 0;
}
.treeItemHeading .draft, .treeItemHeading .obsolete, .treeItemHeading .new {
	background-color:#666666;
	font-size:10px;
	font-family:"arial";
	font-weight:bold;
	padding:3px 5px 3px 5px;
	border-radius: 3px;
	margin-left:5px;
	margin-top:7px;
    color:#333;
    height:18px;
}
.treeItemHeading .draft{
	background-color:#FFEB0F;
}
.treeItemHeading .obsolete{
	background-color:#FFBFBF;
}
.treeItemHeading .new{
	background-color:#71E161;
}
.treeItemTitle.isModifier
{
	font-style:italic;
}

.treeItemInformation{
    background-color:white;
    color:#333;
    width:100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding:5px;
    border-radius: 3px;
    margin-bottom:5px;
    box-shadow: 10px 10px 6px -6px #777;
    border:1px solid #DDD;
}
.treeItemInformation table {
    border-spacing: 0px;
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
}
.treeItemInformation table td, .treeItemInformation table th {
    border:0px solid #EEE;
    padding: 2px 4px 2px 4px;
    vertical-align: top;
    flex-shrink:0;
}
.treeItemInformation table td:not(:first-child){
    word-break: break-word;
}
.treeItemInformation table td, .treeItemInformation table th {
    min-width:50px;
    box-sizing: border-box;
}
.treeItemInformation table.conceptInformation tr:first-child {
    border:1px solid #DDD;
    border-bottom-width: 0px;
    display:none;
    height:40px;
    background-color:white;
}
.treeItemInformation table.conceptInformation:hover {
    margin-top:-31px;
}
.treeItemInformation table.conceptInformation:hover tr:first-child {
    display:flex;
}
.treeItemInformation table tr {
    display: flex;
    border:1px solid white;
}
/*.treeItemInformation table td, .treeItemInformation table table th {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
 }
.treeItemInformation table tr:last-child td {
    border-bottom: 0;
}
.treeItemInformation table tr td:last-child,
.treeItemInformation table tr th:last-child {
    border-right: 0;
}*/
.treeItemInformation table.conceptInformation tr:first-child:hover {

}
.treeItemInformation table tr:hover {
    border:1px solid #EEE;
    position: relative;
    margin-top:-8px;
    margin-bottom:-8px;
}
.treeItemInformation table tr:hover td{
    background-color:white;
    padding-top:10px;
    padding-bottom:10px;
/*    border-top:1px solid #999;
    border-bottom:1px solid #999;
}
.treeItemInformation table tr:hover td:last-child{
    border-right:1px solid #999;
}
.treeItemInformation table tr:hover td:first-child{
    border-left:1px solid #999;*/
}
.treeItemInformation table tr:hover td:not(:first-child), .treeItemInformation table tr:hover th:not(:first-child) {
    border-left:1px solid #EEE;
    padding-left:3px;
}

table.searchResult tr.element {
    display:none;
}
table.searchResult tr td:first-child {
    font-weight: bold;
    width:100px;
    text-align: right;
    vertical-align: top;
}
table.searchResult tr td:not(:first-child) {
    width:calc(100% - 120px);
}
table.searchResult td {
    padding: 5px;
}
.highlightText {
    font-weight: bold;
    text-decoration: underline;
}
/*
.treeItemExpandLine {
    background-color: #0492D0;
    width:1px;
    position:absolute;  
    left:-0px;
    top:-15px;
}

:host:not(:last-child) > .treeItemExpandLine {
    height:100%;
}
:host:last-child > .treeItemExpandLine {
    height:30px;
}

:host > .treeItemInformation > .treeItemExpandLine.activated {
    left:21px;
    height:100%;
}*/