<div class="treeItemHeading"
    (click)="expanded=!expanded">
  <div 
    [ngClass]="{
      'treeItemExpand':true,
      'expanded':attributes.hasChildren.value && expanded,
      'collapsed':attributes.hasChildren.value && !expanded
    }" >
  </div>
  <div [ngClass]="{
      'treeItemTitle':true,
      'isModifier':attributes.isModifier.value,
      'removed': (treeDataService.isProvRemoved$(attributes.element.value) | async).includes(parent) || (treeDataService.isProvMovedTo$(attributes.element.value,parent) | async).length > 0
    }" (click)="onSelect();$event.stopPropagation();">
    <div class="treeItemTitleLabel">{{attributes.label.value}}</div>
    <div *ngIf="attributes.status" [class]="'status_div '+ attributes.status.value">{{attributes.status ? attributes.status.value : ""}}</div>
    <div *ngIf="(treeDataService.isProvAdded$(attributes.element.value) | async).includes(parent)" [class]="'prov_status_div added'">added</div>
    <div *ngFor="let moveto of (treeDataService.isProvMovedTo$(attributes.element.value,parent) | async)" [class]="'prov_status_div moved'">moved to&nbsp;<span (click)="navigate(moveto);$event.stopPropagation();">{{moveto}}</span></div>
    <div *ngFor="let movefrom of (treeDataService.isProvMovedFrom$(attributes.element.value,parent) | async)" [class]="'prov_status_div moved'">moved from&nbsp;<span (click)="navigate(movefrom);$event.stopPropagation();">{{movefrom}}</span></div>
    <div *ngIf="(treeDataService.isProvRemoved$(attributes.element.value) | async).includes(parent)" [class]="'prov_status_div removed'">removed</div>
    <div *ngIf="treeDataService.isProvAddedPathPart$(attributes.element.value) | async" [class]="'prov_sub_status_div added'"></div>
    <div *ngIf="treeDataService.isProvRemovedPathPart$(attributes.element.value) | async" [class]="'prov_sub_status_div removed'"></div>
    <div *ngIf="treeDataService.isProvMovedPathPart$(attributes.element.value) | async" [class]="'prov_sub_status_div moved'"></div>
  </div>
</div>
<div 
  class="treeItemInformation" 
  [ngStyle]="{
    'margin-left':((intent$ | async) * 21 + 21) +'px',
    'width':'calc(100% - ' + ((intent$ | async) * 22 + 26) +'px)'
  }"
  *ngIf="showInformationDiv$ | async "> 
  <app-concept-information 
    *ngIf="showSearchResult$ | async"
    [data]="searchResults$ | async" 
    [headingDirection]="'column'"
    [highlightTerm]="treeDataService.getSearchPattern()"
    [cellWidthPercentages]="[35,65]"></app-concept-information>
  <ng-container *ngFor="let conceptInformation of conceptInformation$ | async">
      <app-concept-information 
        [conceptInformation]="conceptInformation" 
        [hiddenHeading]="false"
        [collapsed]="false"></app-concept-information>
  </ng-container>
</div>
<app-tree-item-list *ngIf="expanded" [expanded]="expanded && cascade_expand" [cascade_expand]="cascade_expand" [conceptIri]="attributes.element.value"></app-tree-item-list>