<div class="treeItemHeading"
    (click)="expanded=!expanded">
  <div 
    [ngClass]="{
      'treeItemExpand':true,
      'expanded':attributes.hasChildren.value && expanded,
      'collapsed':attributes.hasChildren.value && !expanded
    }" >
  </div>
  <div [ngClass]="{
      'treeItemTitle':true,
      'isModifier':attributes.isModifier.value,
      removed: attributes.prov_removed
    }" (click)="onSelect();$event.stopPropagation();">
    <div class="treeItemTitleLabel">{{attributes.label.value}}</div>
    <div *ngIf="attributes.status" [class]="'status_div '+ attributes.status.value">{{attributes.status ? attributes.status.value : ""}}</div>
    <div *ngIf="attributes.prov_added" [class]="'prov_status_div added'">added</div>
    <div *ngIf="attributes.prov_removed" [class]="'prov_status_div removed'">removed</div>
    <div *ngIf="attributes.prov_movedTo" [class]="'prov_status_div moved'">moved to&nbsp;<span (click)="navigate(attributes.prov_movedTo.value);$event.stopPropagation();">{{attributes.prov_movedTo.value}}</span></div>
    <div *ngIf="attributes.prov_movedFrom" [class]="'prov_status_div moved'">moved from&nbsp;<span (click)="navigate(attributes.prov_movedFrom.value);$event.stopPropagation();">{{attributes.prov_movedFrom.value}}</span></div>
  </div>
</div>
<div 
  class="treeItemInformation" 
  [ngStyle]="{
    'margin-left':((intent$ | async) * 21 + 21) +'px',
    'width':'calc(100% - ' + ((intent$ | async) * 22 + 26) +'px)'
  }"
  *ngIf="showInformationDiv$ | async "> 
  <app-concept-information 
    *ngIf="showSearchResult$ | async"
    [data]="searchResults$ | async" 
    [headingDirection]="'column'"
    [highlightTerm]="treeDataService.getSearchPattern()"
    [cellWidthPercentages]="[35,65]"></app-concept-information>
  <ng-container *ngFor="let conceptInformation of conceptInformation$ | async">
      <app-concept-information 
        [conceptInformation]="conceptInformation" 
        [hiddenHeading]="false"
        [collapsed]="true"></app-concept-information>
  </ng-container>
</div>
<app-tree-item-list *ngIf="expanded" [expanded]="expanded && cascade_expand" [cascade_expand]="cascade_expand" [conceptIri]="attributes.element.value"></app-tree-item-list>