:host{
    padding:0px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width:100%;
}
div#browser{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width:100%;
}
div#treeResizeContainer{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-shrink:0;
    background-color: #0492D0;
    color:white;
}
div#treeContainer {
    display:flex;
    flex-direction: column;
    width:calc(100% - 5px);
}
div#modules {
    flex-grow:1;
    display:flex;
    flex-direction: column;
}
div#moduleMenu {
    background-color:white;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-evenly;
    align-items: stretch;
    height:40px;
    margin:5px;
}
div#moduleContent {   
    flex-grow:1;
    display: flex; 
    overflow:auto;
    width:100%;
}
div.moduleMenuItem {
    cursor: pointer;
    color:white;
    flex-grow: 1;
    text-align: center;
    padding:12px;
    background-color:#0492D0;
    border:1px solid #0492D0;
}
div.moduleMenuItem:not(:first-child){
    margin-left:1px;
}
div.moduleMenuItem:hover{
    background-color:#BFE3F2;
    color:#0492D0;
}
#treeResizeComponent {
    width:5px;
    height:100%;
    background-color:#0492D0;
    cursor: e-resize;
}