:host{
    flex-grow:1;
    padding:0px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
div#browser{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width:100%;
}
div#treeResizeContainer{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
div#treeContainer {
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
}
div#rest {
    background-color:#0492D0;
    flex-grow:1;
}
#treeResizeComponent {
    width:5px;
    border-right:5px solid white;
    height:100%;
    background-color:#0492D0;
    cursor: e-resize;
}